@media only screen and (max-width: 425px) {
    .newsCardPadding{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .responsiveBoxFontIcon{
        width:100%
    }
  } 

  @media only screen and (min-width:426px) and (min-width: 768px) {
    .responsiveBoxFontIcon{
        width:50%
    }
    .responsiveWidth{
        width:100%;
    }
  }  
@media only screen and (min-width: 769px) {
    .newsCardPadding{
        padding-left: 10rem;
        padding-right: 10rem;
    }
    .responsiveBoxFontIcon{
        width:25%;
    }
  } 