.customBg{
    background-color: rgb(31, 43, 108);
}

#doctorCardButton:hover{
    background-color: rgba(31, 43, 108,0.6);
    text-decoration: underline;
}



.carousel-indicators button{
    width:15px !important;
    height:15px !important;
    border-radius: 50% !important; 
    color:black !important; 
    background-color: #1F2B6C !important; 
}

.carousel-inner{
    top:-2.5rem;
    height:100%;
}