




.carousel-indicators button{
    width:15px !important;
    height:15px !important;
    border-radius: 50% !important; 
    color:black !important; 
    background-color: #1F2B6C !important; 
}

.carousel-inner{
    top:-2.5rem;
    height:100%;
}




@media only screen and (max-width: 425px) {
    a.carousel-control-next{
        display:none !important; 
      
        
    }
    a.carousel-control-previous{
        display:none !important; 
     
    }
    #responsiveDivSizeCarosal{
        width:75% !important;
        height:auto;
    }
    a.carousel-control-prev-icon{
        display:none !important; 
    }
    .responsivePadding{
        padding:0rem 5rem; 
    }
    .carousel-inner{
        top:-2.5rem;
        height:auto
    }
}


@media only screen and (min-width: 768px) {
    .doctorsDivPadding{
        padding-left: 10rem;
        padding-right: 10rem;
    }
  } 