.carousel-indicators button{
    width:15px !important;
    height:15px !important;
    border-radius: 50% !important; 
    color:black !important; 
    background-color: #1F2B6C !important; 
}

.carousel-inner{
    top:-2.5rem;
    height:100%;
}


@media only screen and (max-width: 425px) {
    a.carousel-control-next{
        display:none !important;

    }
    a.carousel-control-previous{
        display:none !important; 
     
    }
    #responsiveDivSizeCarosal{
        width:75% !important;
        height:auto;
    }
    a.carousel-control-prev-icon{
        display:none !important; 
    }
    .responsivePadding{
        padding:0rem 2rem !important; 
    }
    .carousel-inner{
        top:-2.5rem !important;
        height:auto; 
    }
}

@media only screen and (min-width: 426px) and (max-width:768) {
    a.carousel-control-next{
        display:none !important;
    }
    .a.carousel-control-prev-icon{
        display:none !important; 
    }
    .a.carousel-control-next-icon{
        display:none !important; 
    }
    .responsivePadding{
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .carousel-inner{
        top:-2.5rem;
        height:auto
    }
}
@media only screen and (min-width: 769px) {
    .doctorsDivPadding{
        padding-left: 10rem;
        padding-right: 10rem;
    }
    a.carousel-control-previous{
        display:none !important; 
     
    }
  } 