#checkUpLink{
    cursor: pointer;
}


.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    
  }

  .containerId{
    position: relative;
    width: 100%;
    background-color:     rgba(31, 43, 108, 1);
  
  }
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width:100%;
        transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .containerId:hover .image {
    opacity: 0.3;
   
  }
  
  .containerId:hover .middle {
    opacity: 1;
    
  }

  .text {
   
    color: white;
    font-size: 16px;
    padding: 16px 32px;

  
}