.customBannerBG{
    background: url('../../../Image/Banner.png');
    height:100%;
    padding:10rem;
    background-repeat: no-repeat;
    background-size: cover
}


.bannerButton{
    font-family: "Work Sans";
    font-weight:500;
    color:"#1F2B6C";
    background-color:"#BFD2F8",
}

.appointmentCard{
    padding-left: 10rem;
    padding-right: 10rem;
}