.customBannerBG{
    background: url('../../Image/Banner.png');
    height:100%;
    padding:10rem;
    background-repeat: no-repeat;
    background-size: cover
}
@media only screen and (min-width:320px)and (max-width: 425px) {
    .customBannerBG {
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 0 0 0;
        text-align: center;
    }
    .responsiveDes{
        font-size: 1rem;
    }
    .responsiveTitle{
        font-size: 0.75rem;
        color: #159eec;
        font-weight:700
    }
    .bannerButton{
        width:50%; 
    }
    .responsiveBannerPosition{
        position: relative;
        left:-4rem;
    }
    .bannerWrapperService:before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        background-image: url('../../Image/BannerDoctor.png');
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: 100%;
      }
      .breadcrumbContainerPaddingResponsive{
          padding:0px;
      }

}
@media only screen and (min-width:426px)and (max-width: 768px) {
    .bannerButton{
        width:50%; 
    }
    .responsiveTitle{
        font-size: 1.125rem;
        color: #159eec;
        font-weight:700
    }
    .customBannerBG{
        background-size: contain;
    }
}

.bannerButton{
    font-family: "Work Sans";
    font-weight:500;
    color:"#1F2B6C";
    background-color:"#BFD2F8";
    margin-top:1.5rem; 
}

.bannerMainDivPadding{
    padding-left: 10rem;
    padding-right: 10rem;
}

.bannerWrapperBlog {
    position: relative;
  }
  
  .bannerWrapperBlog:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-image: url('../../Image/BannerDoctor.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }
  
  .bannerContentBlog {
    position: relative;

  }

  @media only screen and (min-width: 426px) {
    .breadcrumbContainerPaddingResponsive{
        padding:5rem; 
    }
    .breadcrumbContainerPaddingResponsive{
        padding:5rem; 
    }
  }