

.appointCardBG {
    position: relative;
  }
  
  .appointCardBG:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-image: url('../../../Image/AppointmentBG.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }
  
  .appointCardBGContent {
    position: relative;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }

  @media only screen and (max-width: 425px) {
    .appointCardBG:before {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.3;
      background-image: url('../../../Image/AppointmentBG.png');
      background-repeat: no-repeat;
      background-position:20% 0; 
      background-size:auto
    }
    .responsiveStyle{
      padding:2rem 2rem;
      text-align: center;
    }
    .responsiveFont{
      font-size: 24px;
    }

    .responsiveWidth{
      width:100%;
    }
    .appointmentDivPadding{
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  @media only screen and (min-width: 426px) and (max-width:768px) {
    .responsiveStyle{
      padding:12rem 3rem;
    }
    .responsiveWidth{
      width:100%;
    }
    .appointmentDivPadding{
      padding-left: 2rem;
      padding-right: 2rem;
    }
    .appointCardBG:before{
      background-position:20% 0; 
    }
  }  
  @media only screen and (min-width: 769px) {
    .appointmentDivPadding{
      padding-left: 10rem;
      padding-right: 10rem;
    }
    .responsiveWidth{
      width:100%;
    }
    .responsiveStyle{
      padding:6rem 4rem;
      
    }
  }
  