#contactContainer::after{
    content:"";
    background: url('../../Image/PostalSerivice.webp');
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
#contactContainer{
    z-index: 2;
    position: relative;
  
}

.resize{
    resize: none;
}

.boxSizing{
    box-sizing: border-box;
}