#idPara {
    color: #BFD2F8 
}

#idParaEmail{
    color:#1F2B6C
}

#idTouch{
    color:#159EEC
}


@media only screen and (max-width: 425px) {
  .contactCardPadding{
    padding-left: 2rem;
    padding-right: 2rem;
  }
}  

@media only screen and (min-width: 768px) {
    .contactCardPadding{
        padding-left: 10rem;
        padding-right: 10rem;
    }
  } 
