ul.ba {
    list-style-type: none;
}

input::placeholder{
    color:'#1F2B6C'!important; 
    font-size: 14px!important;
}

#id{
    color:"#1F2B6Cs"
}

.background{
    color: "#BFD2F8" !important; 
}

@media only screen and (min-width: 765px) {
    .footerCardPadding{
        padding-left: 10rem;
        padding-right: 10rem;
    }
    .responsivePadding{
        padding:0rem;
    }
}

@media only screen and (max-width: 425px) {
    .footerCardPadding{
        padding-left: 2rem;
        padding-right: 2rem;

    }
    .responsivePadding{
        padding: 0 5rem;
    }
  }  
